

<div class="page-layout blank p-24" fusePerfectScrollbar>

  <fuse-search-bar (input)="search($event)"></fuse-search-bar>



  <mat-accordion class="example-headers-align" *ngIf="had.length > 0">

    <mat-expansion-panel *ngFor="let item of had">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.id}} - {{item.name}}
        </mat-panel-title>
        <mat-panel-description>
           {{item.category}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="example-container">
      <mat-form-field>
        <textarea matInput placeholder="francais" [(ngModel)]="item.text" [value]="item.text" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=10> </textarea>
      </mat-form-field>
      </div>


      <div class="example-container">
        <mat-form-field>
          <textarea matInput placeholder="arabe" [(ngModel)]="item.arabe" [value]="item.arabe" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=10> </textarea>
        </mat-form-field>
      </div>

      <button color="primary" mat-flat-button (click)="save(item)">Save</button>

    </mat-expansion-panel>




  </mat-accordion>


</div>
